<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.babydogecloud.mine">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.babydogecloud.mine.Splash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.babydogecloud.mine.Advance_Opction.withdralhistory" />
        <activity android:name="com.babydogecloud.mine.Advance_Opction.Refer_Page" />
        <activity android:name="com.babydogecloud.mine.Advance_Opction.Scratch_Card" />
        <activity android:name="com.babydogecloud.mine.Signup" />
        <activity android:name="com.babydogecloud.mine.MainActivity" />
        <meta-data
            android:name="applovin.sdk.key"
            android:value="MJ8M2BHpu0GI5hzoh_rhfM872RXyMw_q6iXg3GVCUHZsgcTROFTvyUbgBxGQ2O8EXknVSiG8VoEcJurGunSXkX" />
    </application>

</manifest>